<!DOCTYPE html>
<html lang="en">
<html>

  <head>
    <meta charset="utf-8"/>
    <title>IIITA Resume Portal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />
    <link href="static/css/style.css" rel="stylesheet" />
    <link href="static/css/sweetalert.css" rel="stylesheet" />
    <script src="static/js/sweetalert.min.js"></script>
  </head>

  <body class="encrypt">
  <div id="stage">

    <div id="step2">
      <div class="content resumeUploadForm">
        <h1>Upload your Resume here!</h1>
        <h2>Make sure your resume is in <strong>PDF</strong> & follows the naming convention  <strong>RollNo_FirstName</strong>.</h2>
        <form action="upload" method="post" enctype="multipart/form-data">
	  <a class="button browse blue" onclick="javascript:document.getElementById('fileUploader').click();">Browse</a>
          <input type="file" id="fileUploader" name="file" />
          <!-- <a class="button process blue" type="submit" onclick="javascript:this.parentNode.submit()">Upload</a> -->
          <a class="button process blue" type="submit" onclick="filecheck()">Upload</a>
        </form>

      </div>
    </div>

    <script type="text/javascript">
    function filecheck() {
        if(document.getElementById('fileUploader').files.length != 1 ) {
          sweetAlert("Oops...", "Please select a file to upload!", "error");
          return false;
        }

        file = document.getElementById('fileUploader').files[0];

        if(file.size > 1024*1024) {
          sweetAlert("Oops...", "Please select a file with size lesser than 1 MB", "error");
          return false;
        }

        return document.getElementById('fileUploader').parentNode.submit();
    }
    </script>

  </body>
</html>